html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0auto;
  background-color: #254d74;
}

#root {
  font-family: sans-serif;
  margin-top: 4em;
  padding-top: 2px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 5px solid #ffff00;
  flex-direction: column;
  max-height: 100vh;
  max-width: 90vh;
  overflow-y: scroll;
}
#wrapper {
  color: #cc66ff;
  padding: 2em;
  margin-left: 1em auto;
  margin-right: 1em auto;
}
#icon {
  max-height: 35px;
  max-width: 35px;
  padding-right: 4em;
}
#new-quote {
  margin: 1em;
  margin-right: 3em;
  border-radius: 1em;
  padding: 0px 10px 3px 10px;
  background-color: orange;
}
#button-holder{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
