
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0auto;
  background-color: #254d74;
  padding-top:3em;
}

#root {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 5px solid #ffff00;
  max-width: 75%;
  margin:auto;
}
#wrapper {
  color: #cc66ff;
  padding: 2em;
  margin-left: 1em auto;
  margin-right: 1em auto;
}
#icon {
  max-height: 35px;
  max-width: 35px;
}
#new-quote {
  margin: 1em;
  margin-right: 3em;
}

